<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="style/style.css">
    <title>Chat</title>
    <script src="/js/socket.io.js"></script>
</head>

<body>
    <!-- second design -->
    <div class="flex  h-screen">
        <!-- left bar -->
        <div class="w-16 h-screen flex flex-col items-center justify-between py-8" id="side-bar">
            <h4 class="text-gray-200 font-bold text-xl">F</h4>
            <i class="fa-solid text-gray-300 fa-arrow-right-from-bracket text-xl cursor-pointer"></i>
        </div>
        <!-- middle bar -->
        <div class="w-3/12 h-screen pt-8 px-5" id="middle-bar">
            <!-- message top -->
            <div class="flex flex-row justify-between items-center">
                <h4 class="text-gray-300 font-semibold text-xl capitalize">
                    <%= found.username  %>
                </h4>
                <div class="flex flex-row justify-center mt-1 items-center">
                    <i class="fa-solid fa-circle-plus text-gray-300"></i>
                    <i class="fa-solid fa-bell text-gray-300 pl-5"></i>
                </div>
            </div>
            <!-- search -->
            <div class="mt-4 ">
                <input type="text" placeholder="Search" class="px-3 py-1.5 text-sm outline-none rounded opacity-100 w-full text-gray-300" id="last-bar">
            </div>
            <!-- users -->
            <div class="w-full h-5/6 mt-4 overflow-y-scroll">
                <% users.map(infos => { %>
                    <div onclick="informations('<%= JSON.stringify(infos) %>')">
                        <input class="bg-transparent" hidden id="user_id" value="<%= infos._id %>">
                        <div class="flex flex-row items-center hover:bg-gray-700 h-14 transition duration-500 cursor-pointer px-1">
                            <div class="w-8 h-8 flex justify-center items-center rounded-full bg-gray-700">
                                <i class="fa-solid fa-user text-gray-300"></i>
                            </div>
                            <h4 class="font-semibold text-gray-300 ml-3 capitalize">
                                <%= infos.username %>
                            </h4>
                            <i class="fa-solid fa-circle ml-auto text-sm mt-1" id="notification"></i>
                        </div>
                        <hr class="border-gray-700">
                    </div>
                    <% }) %>
            </div>
        </div>






        <!-- right bar -->
        <div class="w-9/12 h-screen flex flex-col justify-between" id="last-side">
            <div class="w-full h-full flex flex-col justify-center items-center">
                <div id="image" class="w-3/5 h-2/5"></div>
                <h1 class="text-gray-400 font-semibold text-3xl">Get Started</h1>
                <h4 class="text-gray-400 mt-2">Now send and recieve message without keeping</h4>
                <h4 class="text-gray-400">Now send and recieve message without keeping your phone with you</h4>
            </div>
        </div>
    </div>
</body>
<script>
    let socket = io("http://localhost:5000")
    let currentUser = JSON.parse('<%- JSON.stringify(found) %>')
    let currentReceiver = '';
    let sender_id = currentUser._id;

    function sendBtn() {
        let message = messages.value;
        let time = new Date().toLocaleTimeString();
        let msg = {
            content: message,
            time,
            currentUser,
        }

        socket.emit('newMessage', msg)
        messages.value = ""
        messages.focus();
    };

    socket.on('newMessage', (data) => {
        showMessage(data);
    })

    function showMessage(data) {
        let {
            content,
            time,
            currentUser
        } = data;
        console.log(data);
        if (currentUser._id == sender_id) {
            let messageHTML = `<div><div class="px-3 py-2 mt-5 text-gray-300 rounded w-28 ml-auto" id="chat">
                        <span class="text-gray-500">You</span><br>
                        <apan>${content}</span>
                    </div></div>`;
            chatArea.innerHTML += messageHTML;
        } else {
            let messageHTML = `<div><div class="px-3 py-2 mt-5 text-gray-300 rounded w-28" id="chat">
                        <span class="text-gray-500">${currentReceiver.username}</span><br>
                        <apan>${content}</span>
                    </div></div>`;
            chatArea.innerHTML += messageHTML;
        }
    }

    function informations(infos) {
        let result = infos
        currentReceiver = JSON.parse(result)
        console.log(currentReceiver);
        document.getElementById('last-side').innerHTML = `<div class="pt-8 px-5 flex justify-between items-center">
                <div class="flex">
                    <div class="w-8 h-8 rounded-full bg-gray-500 flex mr-3 justify-center items-center">
                        <i class="fa-solid fa-user text-gray-300"></i>
                    </div>
                    <h4 class="font-semibold text-gray-300 text-xl">${currentReceiver.username}</h4>
                </div>
                <div class="flex text-gray-300 w-2/12 justify-around">
                    <i class="fa-solid fa-video hover:text-gray-700"></i>
                    <i class="fa-solid fa-phone hover:text-gray-700"></i>
                    <i class="fa-solid fa-ellipsis-vertical hover:text-gray-700"></i>
                </div>
            </div>

            <div class="h-5/6 mt-8 px-7 overflow-y-scroll" id="chatArea">

            </div>

            <div class="h-16 bg-gray-700 border-l border-gray-700 flex justify-around items-center" id="middle-bar">
                <div class="w-4/5 flex">
                    <input type="text" placeholder="Write A Message ..." class="w-full h-9 rounded-l px-3 outline-none text-gray-300 text-sm" id="messages">
                    <div class=" w-9 h-9 flex justify-center items-center cursor-pointer rounded-r cursor-pointer" onClick="sendBtn()">
                        <i class="fa-solid fa-paper-plane text-gray-300 hover:text-gray-500"></i>
                    </div>
                </div>
                <div class="w-10 h-10 rounded-full flex justify-center items-center cursor-pointer " id="last-bar">
                    <i class="fa-solid fa-microphone text-gray-300 hover:text-gray-500 "></i>
                </div>
            </div>`
            // let result = idea
    }
</script>

</html>